{% extends "base.html" %}
{% block app_content %}

{% if n_wtcs %}
<h1> WebTemp controls </h1>
{% if current_user.is_anonymous %}
 There are {{ n_wtcs }} web temperature controls installed. For more information you need to <a href="{{ url_for('main.login') }}">login</a>
{% else %}
<div class="container" id="wtcTable">
<wtc-table></wtc-table>
</div>
{% endif %}
{% endif %}

<div id="ping-pong-test">
  <ping-pong-widget/>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
