{% extends "base.html" %}
{% block app_content %}

{% if current_user.is_anonymous %}
  <a href="{{ url_for('main.login') }}">Login to add new devices</a>
{% else %}
  <a class="btn btn-default" id="add_webtempcontrol" href="{{url_for('thermocontrol.add_webtempcontrol')}}"> Add another WebTemp control.</a>
{% endif %}

{% if n_wtcs %}
<h1> WebTemp controls </h1>
{% if current_user.is_anonymous %}
 There are {{ n_wtcs }} web temperature controls installed. For more information you need to <a href="{{ url_for('main.login') }}">login</a>
{% else %}
<div class="container" id="wtcTable">
<wtc-table wtcs_str='{{ wtc_json }}'></wtc-table>
</div>
{% endif %}
{% endif %}

{% if n_cameras %}
<h1> Cameras</h1>
<table class="table table-hover" id ="arduino overview">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Folder</th>
    <th scope="col">Status</th>
    <th scope="col">Current Value</th>
    <th scope="col">Other actions </th>
  </tr>
  </thead>
  <tbody>
    {% for ard in cameras %}
    <tr>
      <td>{{ ard.id }}</td>
      <td>{{ ard.name }}</td>
      <td>{{ ard.folder }}</td>
      {% if ard.is_open() %}
      <td class="bg-success">Open</td>
      {% else %}
      <td class="bg-warning">Closed</td>
      {% endif %}
      <td id ='{{ ard.label() }}'>No value yet.</td>
      <td>
        <a class='btn btn-default' target="_blank" href="{{url_for('cameracontrol.change_camera', ard_nr = ard.id)}}">Settings</a>
        {% if ard.is_open() %}
        <a class='btn btn-default' target="_blank" href="{{url_for('cameracontrol.camera_details', ard_nr = ard.id)}}">Log</a>
        {% else %}
        <a class='btn btn-default' href="{{url_for('cameracontrol.start_camera', ard_nr = ard.id)}}">Start</a>
        {% endif %}
      <td>
    </tr>
    {% endfor %}
 </tbody>
</table>
{% endif %}

<p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
<div id="log"></div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
