{% extends "single_tc.html" %}

{% block controls %}
<h2>Update connection settings</h2>
<div class="row">
  {% if device_type == 'serial_tc' %}
  <form action="/update_tc" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.id }}
        <p>
            {{ form.serial_port.label }}<br>
            {{ form.serial_port(size=32) }}<br>
            {% for error in form.serial_port.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
  {% endif %}
  {% if device_type == 'web_tc' %}
    <form action="/update_wtc" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.id }}
        <p>
            {{ form.ip_adress.label }}<br>
            {{ form.ip_adress(size=32) }}<br>
            {% for error in form.ip_adress.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.port.label }}<br>
            {{ form.port(size=32) }}<br>
            {% for error in form.port.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
  {% endif %}
</div>

<h2>Update control parameters </h2>
<div class="row">
  {% if device_type == 'serial_tc' %}
    <form action="/setpoint_tc" method="post" novalidate>
  {% elif device_type == 'web_tc' %}
    <form action="/setpoint_wtc" method="post" novalidate>
  {% endif %}
  {{ sform.hidden_tag() }}
  {{ sform.id }}
  <p>
  {{ sform.setpoint.label }}<br>
  {{ sform.setpoint(size=32) }}<br>
  {% for error in sform.setpoint.errors %}
    <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
  </p>
  <p>{{ sform.submit() }}</p>
  </form>
</div>
<div class="row">
  {% if device_type == 'serial_tc' %}
    <form action="/gain_tc" method="post" novalidate>
  {% elif device_type == 'web_tc' %}
    <form action="/gain_wtc" method="post" novalidate>
  {% endif %}
  {{ gform.hidden_tag() }}
  {{ gform.id }}
  <p>
  {{ gform.gain.label }}<br>
  {{ gform.gain(size=32) }}<br>
  {% for error in gform.gain.errors %}
    <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
  </p>
  <p>{{ gform.submit() }}</p>
  </form>
</div>
<div class="row">
    {% if device_type == 'serial_tc' %}
      <form action="/integral_tc" method="post" novalidate>
    {% elif device_type == 'web_tc' %}
      <form action="/integral_wtc" method="post" novalidate>
    {% endif %}
    {{ iform.hidden_tag() }}
    {{ iform.id }}
    <p>
    {{ iform.tau.label }}<br>
    {{ iform.tau(size=32) }}<br>
    {% for error in iform.tau.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p>{{ iform.submit() }}</p>
    </form>
</div>
<div class="row">
  {% if device_type == 'serial_tc' %}
    <form action="/diff_tc" method="post" novalidate>
  {% elif device_type == 'web_tc' %}
    <form action="/diff_wtc" method="post" novalidate>
  {% endif %}
  {{ diff_form.hidden_tag() }}
  {{ diff_form.id }}
  <p>
  {{ diff_form.tau.label }}<br>
  {{ diff_form.tau(size=32) }}<br>
  {% for error in diff_form.tau.errors %}
    <span style="color: red;">[{{ error }}]</span>
  {% endfor %}
  </p>
  <p>{{ diff_form.submit() }}</p>
  </form>
</div>
<div class="row">
  {% if device_type == 'serial_tc' %}
      <form action="/serialwait_tc" method="post" novalidate>
    {% elif device_type == 'web_tc' %}
      <form action="/wait_wtc" method="post" novalidate>
    {% endif %}
    {{ wform.hidden_tag() }}
    {{ wform.id }}
    <p>
    {{ wform.serial_time.label }}<br>
    {{ wform.serial_time(size=32) }}<br>
    {% for error in wform.serial_time.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p>{{ wform.submit() }}</p>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  namespace = '';
  // Connect to the Socket.IO server.
  // The connection URL has the following format:
  //     http[s]://<domain>:<port>[/<namespace>]
  var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
  // Event handler for new connections.
  socket.on('connect', function() {
    socket.emit('my_response', {data: 'I\'m connected!'});
  });

  $( "#add_arduino" ).click(function() {
    var html = $("#ard_log").outerHTML;
    export_table_to_csv(html, "table.csv");
  });
});
</script>
{% endblock %}
