{% extends "single_tc.html" %}

{% block controls %}
<h2>Update connection settings</h2>
<div class="row">
  {% if device_type == 'serial_tc' %}
    <div class="col"> {{ wtf.quick_form(form, action="/update_tc") }}</div>
  {% endif %}
  {% if device_type == 'web_tc' %}
    <div class="col"> {{ wtf.quick_form(form, action="/update_wtc") }}</div>
  {% endif %}
</div>

<h2>Update control parameters </h2>
<div class="row">
    <div class="col"> {{ wtf.quick_form(sform, action="/setpoint") }}</div>
  </div>
  <div class="row">
      <div class="col"> {{ wtf.quick_form(gform, action="/gain") }}</div>
  </div>
  <div class="row">
      <div class="col"> {{ wtf.quick_form(iform, action="/integral") }}</div>
  </div>
  <div class="row">
      <div class="col"> {{ wtf.quick_form(diff_form, action="/diff") }}</div>
  </div>
  <div class="row">
      <div class="col"> {{ wtf.quick_form(wform, action="/serialwait") }}</div>
  </div>
</div>
{% endblock %}


{% block scripts %}
{{super()}}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  namespace = '';
  // Connect to the Socket.IO server.
  // The connection URL has the following format:
  //     http[s]://<domain>:<port>[/<namespace>]
  var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
  // Event handler for new connections.
  socket.on('connect', function() {
    socket.emit('my_response', {data: 'I\'m connected!'});
  });

  $( "#add_arduino" ).click(function() {
    var html = $("#ard_log").outerHTML;
    export_table_to_csv(html, "table.csv");
  });
});
</script>
{% endblock %}
