{% extends "single_base.html" %}

{% block overview %}
  {% if device_type == 'serial_tc' %}
  <h1> Change parameters</h1>
  <table class="table" id ="arduino overview">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Port</th>
      <th scope="col">Wait time</th>
      <th scope="col" >Status</th>
      <th scope="col">Setpoint</th>
      <th scope="col">Gain</th>
      <th scope="col">tauI</th>
      <th scope="col">tauD</th>
      <th scope="col">Other actions </th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ ard.id }}</td>
        <td>{{ ard.name }}</td>
        <td>{{ ard.serial_port }}</td>
        <td>{{ ard.sleeptime }}</td>
        {% if ard.connection_open() %}
        <td class="bg-success" id ="{{ ard.conn_str() }}">Open</td>
        {% else %}
        <td class="bg-warning" id ="{{ ard.conn_str() }}">Closed</td>
        {% endif %}
        <td scope="col">{{ ard.setpoint }}</td>
        <td scope="col">{{ ard.gain }}</td>
        <td scope="col">{{ ard.integral }}</td>
        <td scope="col">{{ ard.diff }}</td>
        <td>
        {% if ard.connection_open() %}
          <a class='btn btn-light' target="_blank" href="{{url_for('thermocontrol.details', ard_nr = ard.id)}}">Log</a>
          <a class='btn btn-light' href="{{url_for('thermocontrol.stop', ard_nr = ard.id)}}">Stop</a>
        {% else %}
        <a class='btn btn-light' href="{{url_for('thermocontrol.start_tc', ard_nr = ard.id)}}">Start</a>
        {% endif %}
        <a class='btn btn-light' href="{{url_for('thermocontrol.remove', ard_nr = ard.id)}}"><span class ="glyphicon glyphicon-remove"></span>
        <td>
      </tr>
   </tbody>
  </table>
  {% endif %}

  {% if device_type == 'web_tc' %}
  <h1> Change parameters</h1>
  <table class="table" id ="arduino overview">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">IP Adress</th>
      <th scope="col">Port</th>
      <th scope="col">Wait time</th>
      <th scope="col" >Status</th>
      <th scope="col">Setpoint</th>
      <th scope="col">Gain</th>
      <th scope="col">tauI</th>
      <th scope="col">tauD</th>
      <th scope="col">Other actions </th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ ard.id }}</td>
        <td>{{ ard.name }}</td>
        <td>{{ ard.ip_adress }}</td>
        <td>{{ ard.port }}</td>
        <td>{{ ard.sleeptime }}</td>
        {% if ard.connection_open() %}
        <td class="bg-success" id ="{{ ard.conn_str() }}">Open</td>
        {% else %}
        <td class="bg-warning" id ="{{ ard.conn_str() }}">Closed</td>
        {% endif %}
        <td scope="col">{{ ard.setpoint }}</td>
        <td scope="col">{{ ard.gain }}</td>
        <td scope="col">{{ ard.integral }}</td>
        <td scope="col">{{ ard.diff }}</td>
        <td>
        {% if ard.connection_open() %}
          <a class='btn btn-light' target="_blank" href="{{url_for('thermocontrol.details_wtc', ard_nr = ard.id)}}">Log</a>
          <a class='btn btn-light' href="{{url_for('thermocontrol.stop_wtc', ard_nr = ard.id)}}">Stop</a>
        {% else %}
        <a class='btn btn-light' href="{{url_for('thermocontrol.start_wtc', ard_nr = ard.id)}}">Start</a>
        {% endif %}
        <a class='btn btn-light' href="{{url_for('thermocontrol.remove_wtc', ard_nr = ard.id)}}"><span class ="glyphicon glyphicon-remove"></span>
        <td>
      </tr>
   </tbody>
  </table>
  {% endif %}
{% endblock %}
{% block controls %}
{% endblock %}
