<html>
<head>
  <title> Arduino Web-Interface</title>
<meta http-equiv="refresh" content="5" >
</head>
<body>
  <div><a href="/index">Home</a>
          <a href="/config">Config</a></div>
        <hr>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            {% if category == 'error' %}
              <li><span style="color: red;">{{ message }}</span></li>
            {% else %}
              <li>{{ message }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block app_content %}{% endblock %}
    </body>
</html>
