{% extends 'bootstrap/base.html' %}

{% block title %}
Arduino Web-Interface
{% endblock %}
{% block navbar %}

<nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">Arduino Thermo Control</a>
    </div>
      <ul class="nav navbar-nav">
          <li><a href="{{ url_for('index') }}">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a target="_blank" href="{{ git_url }}">Source code</a></li>
      </ul>
    </div>
</nav>
{% endblock %}

{%block content %}
<div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            {% if category == 'error' %}
              <div class="alert alert-warning alert-dismissible" role="alert">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% else %}
              <div class="alert alert-info alert-dismissible" role="alert">{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endif %}

            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
</div>
{% endblock %}
