{% extends 'bootstrap/base.html' %}

{% block title %}
Arduino Web-Interface
{% endblock %}
{% block metas %}
<meta http-equiv="refresh" content="5" >
{% endblock %}
{% block navbar %}

<nav class="navbar navbar-default">
    <div class="container">
      <ul class="nav navbar-nav">
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('config') }}">Config</a></li>
      </ul>
    </div>
</nav>
{% endblock %}

{%block content %}
<div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            {% if category == 'error' %}
              <li><span style="color: red;">{{ message }}</span></li>
            {% else %}
              <li>{{ message }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
</div>
{% endblock %}
