{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1> Change parameters</h1>
<table class="table" id ="arduino overview">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Port</th>
    <th scope="col">Status</th>
    <th scope="col">Setpoint</th>
    <th scope="col">Gain</th>
    <th scope="col">tauI</th>
    <th scope="col">tauD</th>
    <th scope="col">Other actions </th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ props.id }}</td>
      <td>{{ props.name }}</td>
      <td>{{ props.port }}</td>
      {% if props.active %}
      <td class="bg-success">Open</td>
      {% else %}
      <td class="bg-warning">Closed</td>
      {% endif %}
      <td scope="col">{{ props.setpoint }}</td>
      <td scope="col">{{ props.gain }}</td>
      <td scope="col">{{ props.tauI }}</td>
      <td scope="col">{{ props.tauD }}</td>
      <td>
        <a class='btn btn-default' href="{{url_for('details', ard_nr = props.id)}}">Log</a><td>
        <!-- <a class='btn btn-default' href="{{url_for('index')}}"><span class ="glyphicon glyphicon-remove"></span></a><td> -->
    </tr>
 </tbody>
</table>

<h2>Update connection settings</h2>
<div class="row">
  <div class="col"> {{ wtf.quick_form(form, action="/update") }}</div>
</div>

<h2>Update control parameters </h2>
<div class="row">
    <div class="col"> {{ wtf.quick_form(sform, action="/setpoint") }}</div>
  </div>
  <div class="row">
      <div class="col"> {{ wtf.quick_form(gform, action="/gain") }}</div>
  </div>
  <div class="row">
      <div class="col"> {{ wtf.quick_form(iform, action="/integral") }}</div>
  </div>
  <div class="row">
      <div class="col"> {{ wtf.quick_form(diff_form, action="/diff") }}</div>
  </div>
</div>
{% endblock %}


{% block scripts %}
{{super()}}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  namespace = '';
  // Connect to the Socket.IO server.
  // The connection URL has the following format:
  //     http[s]://<domain>:<port>[/<namespace>]
  var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
  // Event handler for new connections.
  socket.on('connect', function() {
    socket.emit('my_response', {data: 'I\'m connected!'});
  });

  $( "#add_arduino" ).click(function() {
    var html = $("#ard_log").outerHTML;
    export_table_to_csv(html, "table.csv");
  });
});
</script>
{% endblock %}
