{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
  <div class="row">
    {% if is_open %}
    <div class="col bg-success">The port is open </div>
    <div class="col"> {{ wtf.quick_form(dform, id="stop", action="/stop") }} </div>
    {% else %}
    <div class="col bg-warning">The port is closed.</div>
    <div class="col-sm"> {{ wtf.quick_form(cform, id="connect", action="/start") }} </div>
    {% endif %}
  </div>
  <div class="row">
    {% if is_alive %}
    <div class="col bg-success">The communication with the Arduino is running.</div>
    {% else %}
    <div class="col bg-warning">The communication with the Arduino dead.</div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col">We are currently listening for the Arduino on port: {{ port }}</div>
    <div class="col"> {{ wtf.quick_form(form, action="/update") }}</div>
  </div>
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  namespace = '';
  // Connect to the Socket.IO server.
  // The connection URL has the following format:
  //     http[s]://<domain>:<port>[/<namespace>]
  var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
  // Event handler for new connections.
  socket.on('connect', function() {
    socket.emit('my_response', {data: 'I\'m connected!'});
  });
  $('form#connect').submit(function(event) {
      socket.emit('connect');
  });
  // $('form#stop').submit(function(event) {
  //     socket.emit('stop');
  // //    return false;
  // });
});
</script>
{% endblock %}
