{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
  {% if is_open %}
    <div class="p-3 mb-2 bg-success text-white">The port is open </div>
    <p>We are currently listening for the Arduino on port: {{ port }}</p>
    <div class="col-md-4">
        {{ wtf.quick_form(dform) }}
    </div>
  {% else %}
      <div class="p-3 mb-2 bg-warning">The port is closed.</div>
      <p>We are currently listening for the Arduino on port: {{ port }}</p>
      <div class="col-md-4">
          {{ wtf.quick_form(cform) }}
      </div>
  {% endif %}
  {% if is_alive %}
    <div class="p-3 mb-2 bg-success text-white">The communication with the Arduino is running.</div>
  {% else %}
      <div class="p-3 mb-2 bg-warning">The communication with the Arduino dead.</div>
  {% endif %}
</div>
  
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
{% endblock %}
