{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container">
  <div class="row">
    {% if is_open %}
    <div class="col bg-success">The port is open </div>
    <div class="col"> {{ wtf.quick_form(dform) }} </div>
    {% else %}
    <div class="col bg-warning">The port is closed.</div>
    <div class="col-sm"> {{ wtf.quick_form(cform) }} </div>
    {% endif %}
  </div>
  <div class="row">
    {% if is_alive %}
    <div class="col bg-success">The communication with the Arduino is running.</div>
    {% else %}
    <div class="col bg-warning">The communication with the Arduino dead.</div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col">We are currently listening for the Arduino on port: {{ port }}</div>
    <div class="col"> {{ wtf.quick_form(form) }}</div>
  </div>
</div>
{% endblock %}
