{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}

<meta id="arduino_data" data-ard="5">
<table class="table table-hover" id ="arduino overview">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Port</th>
    <th scope="col">Status</th>
    <th scope="col">Setpoint</th>
    <th scope="col">Current Value</th>
    <th scope="col">Other actions </th>
  </tr>
  </thead>
  <tbody>
    {% for ard in props %}
    <tr>
      <td>{{ ard.id }}</td>
      <td>{{ ard.name }}</td>
      <td>{{ ard.port }}</td>
      {% if ard.active %}
      <td class="bg-success">Open</td>
      {% else %}
      <td class="bg-warning">Closed</td>
      {% endif %}
      <td>{{ ard.setpoint }}</td>
      <td id ='{{ ard.label}}'>Not implemented.</td>
      <td>
        <a class='btn btn-default' href="{{url_for('change_arduino', ard_nr = ard.id)}}">Settings</a>
        <a class='btn btn-default' href="{{url_for('details', ard_nr = ard.id)}}">Log</a><td>
        <!-- <a class='btn btn-default' href="{{url_for('index')}}"><span class ="glyphicon glyphicon-remove"></span></a><td> -->
    </tr>
    {% endfor %}
 </tbody>
</table>
<h1> Details for # {{ard_nr}} - {{ name }}</h1>
<div id="plot"><!-- Plotly chart will be drawn inside this DIV --></div>
<button class="btn btn-default" id="exp_button"> Export to csv</button>
<table class="table table-hover" id ="ard_log">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Date</th>
    <th scope="col">Setpoint</th>
    <th scope="col">Input</th>
    <th scope="col">Error</th>
    <th scope="col">Output</th>
    <th scope="col">Gain</th>
    <th scope="col">tauI (s)</th>
    <th scope="col">tauD (s)</th>
  </tr>
</thead>
<tbody>
 </tbody>
</table>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
  namespace = '';
  // Connect to the Socket.IO server.
  // The connection URL has the following format:
  //     http[s]://<domain>:<port>[/<namespace>]
  var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
  // Event handler for new connections.
  socket.on('connect', function() {
    socket.emit('my_response', {data: 'I\'m connected!'});
  });

  // Event handler for server sent data.
  socket.on('my_response', function(msg) {
    $('#log').prepend('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
  });

  socket.on('temp_value', function(msg) {
    var temp = msg.data;
    var id = msg.id;
    var el_name = '#read' + msg.id;
    $(el_name).html(temp);
  });

  // Event handler for logging data.
  socket.on('log_response', function(msg) {
    var count = msg.count;
    var data = msg.data;
    var time = msg.time;
    var id = msg.id;
    var this_id =  '{{ ard_nr}}';
    console.log(id);
    console.log(this_id);
    if (id == this_id){
      if (data.length == 4 && data[3] == 0) {
        var ard_log_str = '<tr class="warning">';
      }
      else {
        var ard_log_str = '<tr>';
      }
      ard_log_str = ard_log_str + '<th scope="row">' + msg.count +'</th>';
      ard_log_str = ard_log_str + '<td>' + msg.time +'</td>';
      for (var i=0; i<data.length; i++){

        ard_log_str = ard_log_str + '<td>' + data[i] +'</td>';
      }
      ard_log_str = ard_log_str + '</tr>'

      $('#ard_log > tbody').prepend(ard_log_str).html()

      Plotly.extendTraces('plot', {
        x:[[time], [time], [time]],
        y:[[data[0]], [data[1]], [data[3]]]
      }, [0,1,2])
    }
  });

  // Interval function that tests message latency by sending a "ping"
  var ping_pong_times = [];
  var start_time;
  window.setInterval(function() {
    start_time = (new Date).getTime();
    socket.emit('my_ping');
  }, 1000);


  socket.on('my_pong', function() {
    var latency = (new Date).getTime() - start_time;
    ping_pong_times.push(latency);
    ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
    var sum = 0;
    for (var i = 0; i < ping_pong_times.length; i++)
    sum += ping_pong_times[i];
    $('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
  });


  function download_csv(csv, filename) {
    var csvFile;
    var downloadLink;

    // CSV FILE
    csvFile = new Blob([csv], {type: "text/csv"});

    // Download link
    downloadLink = document.createElement("a");

    // File name
    downloadLink.download = filename;

    // We have to create a link to the file
    downloadLink.href = window.URL.createObjectURL(csvFile);

    // Make sure that the link is not displayed
    downloadLink.style.display = "none";

    // Add the link to your DOM
    document.body.appendChild(downloadLink);

    // Lanzamos
    downloadLink.click();
  }

  function export_table_to_csv(html, filename) {
    var csv = [];
    var rows = document.querySelectorAll("table tr");
    var rows = $("#ard_log tr");

    for (var i = 0; i < rows.length; i++) {
      var row = [], cols = rows[i].querySelectorAll("td, th");

      for (var j = 0; j < cols.length; j++)
      row.push(cols[j].innerText);

      csv.push(row.join(","));
    }

    // Download CSV
    download_csv(csv.join("\n"), filename);
  }
  $( "#exp_button" ).click(function() {
    var html = $("#ard_log").outerHTML;
    export_table_to_csv(html, "table.csv");
  });

  // set up the plotting
  var setpoint_trace = {
    x: [],
    y: [],
    name: 'Setpoint',
    type: 'scatter'
  };

  var input_trace = {
    x: [],
    y: [],
    name: 'Measured T',
    type: 'scatter'
  };

  var control_trace = {
    x: [],
    y: [],
    name: 'Control',
    type: 'scatter',
    yaxis: 'y2'
  };

  var data = [ setpoint_trace, input_trace, control_trace];
  var layout = {
    yaxis2: {
      title: 'Control',
      overlaying: 'y',
      side: 'right',
      tickfont: {color: '#2ca02c'},
      titlefont: {color: '#2ca02c'},
    }};

    Plotly.newPlot('plot', data, layout);
  });
</script>
{% endblock %}
