{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
We will give a summary over all the {{n_ards}} arduinos, which are connected here.
<table class="table table-hover" id ="arduino overview">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Port</th>
  </tr>
  </thead>
  <tbody>
    {% for ard in props %}
    <tr>
      <td>{{ ard.name }}</td>
      <td>{{ ard.port }}</td>
    </tr>
    {% endfor %}
 </tbody>
</table>
{% endblock %}

{% block scripts %}
{% endblock %}
